p {margin:0px; padding:0px; line-height:100%}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:1024px;height:1750px;z-index:1;}
#Img2 {display:block;overflow:hidden;position:absolute;left:840px;top:1079px;width:140px;height:62px;z-index:2;}
#Img2Inner {position:absolute;width:140px;height:62px;border:0px;}
#Gbackground {display:block;overflow:hidden;position:absolute;left:-5px;top:-5px;width:0px;height:0px;z-index:3;}
#Gtop {display:block;overflow:hidden;position:absolute;left:-5px;top:-5px;width:0px;height:0px;z-index:4;}
#Box7 {display:block;overflow:hidden;position:absolute;left:38px;top:131px;width:950px;height:1607px;z-index:5;background:url('./images/blank_Box7.png');background-repeat:no-repeat;}
#Gcenter {display:block;overflow:hidden;position:absolute;left:-5px;top:-5px;width:0px;height:0px;z-index:6;}
#Text6 {overflow:auto;overflowX:hidden;overflowY:hidden;display:block;position:absolute;left:93px;top:317px;width:88px;height:0px;z-index:7;}
#GCompany {display:block;overflow:hidden;position:absolute;left:-5px;top:-5px;width:0px;height:0px;z-index:8;}
#Gmenu {display:block;overflow:hidden;position:absolute;left:-5px;top:-5px;width:0px;height:0px;z-index:9;}
#Img1 {display:block;overflow:hidden;position:absolute;left:38px;top:14px;width:434px;height:115px;z-index:10;}
#Img1Inner {position:absolute;width:434px;height:115px;border:0px;}
#Img3 {display:block;overflow:hidden;position:absolute;left:46px;top:140px;width:223px;height:149px;z-index:11;}
#Img3Inner {position:absolute;width:221px;height:147px;border: 1px solid rgba(0,0,0,1.0);}
#Img4 {display:block;overflow:hidden;position:absolute;left:284px;top:140px;width:222px;height:149px;z-index:12;}
#Img4Inner {position:absolute;width:220px;height:147px;border: 1px solid rgba(0,0,0,1.0);}
#Img5 {display:block;overflow:hidden;position:absolute;left:516px;top:140px;width:223px;height:149px;z-index:13;}
#Img5Inner {position:absolute;width:221px;height:147px;border: 1px solid rgba(0,0,0,1.0);}
#Img6 {display:block;overflow:hidden;position:absolute;left:752px;top:140px;width:222px;height:150px;z-index:14;}
#Img6Inner {position:absolute;width:220px;height:148px;border: 1px solid rgba(0,0,0,1.0);}
#But1 {display:block;overflow:hidden;position:absolute;left:815px;top:300px;width:159px;height:35px;z-index:15;background:url('./buttons/blank_But1.png');background-repeat:no-repeat;}
#But1.Up {background-position: 0 0;}
#But1.Down {background-position: -159px 0;}
#But1.Over {background-position: -318px 0;}
#But1 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But1.Up p {top:13px;left:49px;}
#But1.Down p {top:14px;left:50px;}
#But1.Over p {top:13px;left:49px;}
#But1 div {display:none;}
#But2 {display:block;overflow:hidden;position:absolute;left:815px;top:334px;width:159px;height:35px;z-index:16;background:url('./buttons/blank_But1.png');background-repeat:no-repeat;}
#But2.Up {background-position: 0 0;}
#But2.Down {background-position: -159px 0;}
#But2.Over {background-position: -318px 0;}
#But2 p {cursor:pointer;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But2.Up p {top:13px;left:29px;}
#But2.Down p {top:14px;left:30px;}
#But2.Over p {top:13px;left:29px;}
#But2 div {display:none;}
#But3 {display:block;overflow:hidden;position:absolute;left:815px;top:368px;width:159px;height:35px;z-index:17;background:url('./buttons/blank_But1.png');background-repeat:no-repeat;}
#But3.Up {background-position: 0 0;}
#But3.Down {background-position: -159px 0;}
#But3.Over {background-position: -318px 0;}
#But3 p {cursor:default;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But3.Up p {top:13px;left:22px;}
#But3.Down p {top:14px;left:23px;}
#But3.Over p {top:13px;left:22px;}
#But3 div {display:none;}
#But4 {display:block;overflow:hidden;position:absolute;left:815px;top:402px;width:159px;height:35px;z-index:18;background:url('./buttons/blank_But1.png');background-repeat:no-repeat;}
#But4.Up {background-position: 0 0;}
#But4.Down {background-position: -159px 0;}
#But4.Over {background-position: -318px 0;}
#But4 p {cursor:default;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But4.Up p {top:13px;left:46px;}
#But4.Down p {top:14px;left:47px;}
#But4.Over p {top:13px;left:46px;}
#But4 div {display:none;}
#But5 {display:block;overflow:hidden;position:absolute;left:815px;top:436px;width:159px;height:35px;z-index:19;background:url('./buttons/blank_But1.png');background-repeat:no-repeat;}
#But5.Up {background-position: 0 0;}
#But5.Down {background-position: -159px 0;}
#But5.Over {background-position: -318px 0;}
#But5 p {cursor:default;position:absolute;z-index:2;font-weight:normal;font-family:Arial;font-size:11px;color:#000000;}
#But5.Up p {top:13px;left:56px;}
#But5.Down p {top:14px;left:57px;}
#But5.Over p {top:13px;left:56px;}
#But5 div {display:none;}
#Img7 {display:block;overflow:hidden;position:absolute;left:477px;top:14px;width:502px;height:115px;z-index:20;}
#Img7Inner {position:absolute;width:502px;height:115px;border:0px;}
#Text2 {display:block;position:absolute;left:680px;top:87px;width:300px;height:69px;z-index:21;}
#Text3 {display:block;position:absolute;left:481px;top:21px;width:503px;height:86px;z-index:22;}
#Text4 {display:block;position:absolute;left:481px;top:49px;width:277px;height:30px;z-index:23;}
#Text1 {display:block;position:absolute;left:46px;top:299px;width:762px;height:463px;z-index:24;}
#Img8 {display:block;overflow:hidden;position:absolute;left:38px;top:430px;width:135px;height:113px;z-index:25;}
#Img8Inner {position:absolute;width:135px;height:113px;border:0px;}
#Text5 {display:block;position:absolute;left:55px;top:525px;width:826px;height:377px;z-index:26;}
#Img9 {display:block;overflow:hidden;position:absolute;left:775px;top:542px;width:176px;height:204px;z-index:27;}
#Img9Inner {position:absolute;width:174px;height:202px;border: 1px solid rgba(0,0,0,1.0);}
#Text7 {display:block;position:absolute;left:55px;top:875px;width:911px;height:548px;z-index:28;}
#Img10 {display:block;overflow:hidden;position:absolute;left:146px;top:1417px;width:676px;height:295px;z-index:29;}
#Img10Inner {position:absolute;width:676px;height:295px;border:0px;}
